<div class="container">
  <div class="row">
    <div class="col-sm-6 mx-auto">
      <h1 class="text-center">Prompts - Peladas</h1>
      <hr>
      <h2 class="text-center">Unirse a una sala</h2>
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Código de la sala" aria-describedby="basic-addon2" #input>
        <div class="input-group-append">
          &nbsp;<button class="btn btn-info" type="button" (click)="connectRoom(input.value)">Unirse</button>
        </div>
      </div>
      <video class="embed-responsive embed-responsive-1by1 video hidden" id="videoqr"></video>
      <div class="text-center">
        <button class="btn btn-success " (click)="scanQR()">Escanear QR</button>
      </div>
      <hr>
      <h2 class="text-center">Crear una sala</h2>
      <br>
      <div class="input-group mb-3">
        <input type="text" [(ngModel)]="roomName" class="form-control" placeholder="Nombre de la sala">
        <div class="input-group-append">
          &nbsp;<button class="btn btn-success" type="button" [disabled]='roomName === ""' (click)="createRoom(roomName)">Crear y unirse</button>
        </div>
      </div>

      <hr>

    </div>
  </div>
</div>

<div class="connection-div">
  <div class="connection-text">Estado del servidor: &nbsp;</div>
  <div class="connection-dot" [ngClass]="{'green-dot': isServerConnected, 'red-dot': !isServerConnected}"></div>
</div>
