@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;1000&display=swap');

.room-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-control{
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
}

#videoqr{
  margin-top: 10px;
}

hr{
  margin-top: 30px;
  margin-bottom: 30px;
}

.game-title {
  font-family: 'Nunito', sans-serif;
  font-weight: 1000;
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  background: linear-gradient(90deg, rgba(134,203,255,1) 0%, rgba(180,170,213,1) 50%, rgba(134,203,255,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.text-center{
  font-family: 'Nunito', sans-serif;
}

.room-item .right {
  margin-left: auto;
}

.room-item .playerCount {
  margin-right: 20px;
}

.video{
  max-width: 100%;
  max-height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-radius: 25px;
}

.hidden{
  height: 0px;
}

.green-dot {
  width: 12px;
  height: 12px;
  background-color: green;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.red-dot {
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.connection-dot {
  display:inline-block;
}

.connection-div {
  position: absolute;
  top: 0;
  right: 0;
}

.btnPlay {
  -webkit-border-radius: 0px;
  -webkit-border-top-right-radius: 25px;
  -webkit-border-bottom-right-radius: 25px;
  -moz-border-radius: 0px;
  -moz-border-radius-topright: 25px;
  -moz-border-radius-bottomright: 25px;
  border-radius: 0px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 12px 25px;
  font-size: 16px;
  color: white;
  background-color: rgb(28, 156, 109);
  border: none;
  transition: background-color 0.3s ease;
}

.selectiveo{
  margin-bottom: -10px;
}


.btn.btn-activity {
  padding: 15px 30px;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 25px;
  background-color: #4287f5; 
  color: white;
  border: none;
  cursor: pointer;
}

.btn-qrScan {
  border-radius: 25px;
  color: white;
  background-color: rgb(28, 156, 109);
  padding: 10px 30px;
}

.btn-qrScanRed {
  border-radius: 25px;
  color: white;
  background-color: #c9302c;
  padding: 10px 30px;
}

.btn-qrScan:hover {
  background-color: #006666;
}

.btnPlay:disabled {
  background-color: rgba(36, 134, 98, 0.7) !important;
  cursor: not-allowed;
}

.btnPlay:hover{
  background-color: #006666;
}

.btn.btn-activity:hover {
  background-color: #00b3b3; 
}

.logout_button:hover {
  background-color: #c9302c;
  color: #000000;
  transition: background-color 0.3s ease;
}

.logout_button {
  border-radius: 5px;
  background-color: transparent;
  fill: #c9302c;
  color: #c9302c;
  border: none;
}
