body {
  background: linear-gradient(to bottom, #c1e1e1, #a0d1d1);
}

.room-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-item .right {
  margin-left: auto;
}

.room-item .playerCount {
  margin-right: 20px;
}

.video{
  max-width: 100%;
  max-height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.hidden{
  height: 0px;
}

.green-dot {
  width: 12px;
  height: 12px;
  background-color: green;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.red-dot {
  width: 12px;
  height: 12px;
  background-color: red;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.connection-dot {
  display:inline-block;
}

.connection-text {
  display: inline-block;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
}

.connection-div {
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn {
  border-radius: 50px;
  padding: 12px 25px;
  font-size: 16px;
  color: white;
  background-color: rgb(28, 156, 109);
  border: none;
  transition: background-color 0.3s ease;
}


.btn.btn-danger {
  padding: 15px 30px;
  margin-top: 10px;
  margin-right: 20px;
  border-radius: 25px;
  background-color: #006666; 
  color: white;
  border: none;
  cursor: pointer;
}

.btn.btn-danger:hover {
  background-color: #00b3b3; 
}




