# Ignorar carpetas node_modules en el directorio raíz y subdirectorios
/node_modules/
/webapi/node_modules/
/angular/node_modules/

# Ignorar archivos package.json en el directorio raíz y subdirectorios
/package.json
/webapi/package.json
/angular/package.json