<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title"> Nueva Propuesta </h4>
                    <form>
                        <div class="form-group">
                            <label for="description">Nombre de la Propuesta</label>
                            <input type="text" class="form-control" id="description" [(ngModel)]="description"
                                name="description" placeholder="Ingrese el nombre de la Propuesta">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lista de Actividades</h5>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let activity of activities">
                            <!-- Checklist: Si está activado agrega. Si no está activado, chequea si está agregado y lo saca, si no no hace nada-->
                            <input class="form-check-input" type="checkbox" value="" name="{{activity.id}}" id="activityCheckbox{{activity.id}}">
                            <label class="form-check-label" for="flexCheckDefault">
                                {{activity.description}}
                                {{activity.playerName}}
                            </label>
                            
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Lista de Propuestas</h5>
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let proposal of proposals">
                            <button type="button" class="close" aria-label="Close"
                                (click)="removeProposal(proposal.id)">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <span> {{proposal.description}}
                                {{proposal.playerName}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-6 offset-md-3">
            <button type="button" class="btn btn-secondary" (click)="returnToMenu()">Regresar</button>
        </div>
    </div>
</div>

<div class="row mt-4">
    <div class="col-md-6 offset-md-3">
        <button type="submit" class="btn btn-primary" (click)="createProposal()">Crear Propuesta</button>
    </div>
</div>