<div class="cortina" [style.display]="this.show ? 'block' : 'none'" id="cortina">
  <div class="cortinaNumber">
    <div class="card text-center prompt">
      <div class="card-header">
        <h1 class="promptText" id="prompt"> ❝ {{ myActivities[stage].description }} ❞</h1>
        <hr class="promtsHr">
        <p class="promptAuthor"> - {{ myActivities[stage].player_id }}</p>
      </div>
    </div>
  </div>
</div>

<div class="container promptHolder" *ngIf="votation == false">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h1 class="text-center promptTitle">¡Responde con algo chistoso!</h1>
      <div class="timerDiv">
        <h1 class="timer" id='timer'>{{ timer }}</h1>
      </div>
      <div class="card text-center prompt">
        <div class="card-header">
          <h1 class="promptText">❝ {{ myActivities[stage].description }} ❞</h1>
          <hr class="promtsHr">
          <p class="promptAuthor">- {{ myActivities[stage].player_id }}</p>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <div>
        <textarea class="form-control" rows="2" [(ngModel)]="answer" placeholder="¡Responde aqui!"></textarea>
        <div class="text-center">
          <br>
          <button type="button" class="btn btn-primary btn-lg btn-block btn-prompt"
            (click)="submitAnswer()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container promptHolder" *ngIf="votation == true">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <h1 class="text-center promptTitle">¡Vota la que te parezca mejor!</h1>
      <div class="timerDiv">
        <h1 class="timer" id='timer'>{{ timer }}</h1>
      </div>
      <div class="card text-center prompt">
        <div class="card-header">
          <h1 class="promptText">❝ {{ answerActivities[index].description }} ❞</h1>
          <hr class="promtsHr">
          <p class="promptAuthor">- {{ answerActivities[index].player_id }}</p>
        </div>
      </div>
      <br>
      <hr>
      <br>
      <div class="card text-center prompt">
        <h1 class="promptText">❝ {{ answerActivities[index+2]}} ❞</h1>
        <hr class="promtsHr">
        <p class="promptAuthor">- {{ answerActivities[index+1] }}</p>
      </div>
      <div class="container votationHolder" style="display: flex;">
        <button type="button" (click)="scorePoint(answerActivities[index+1])">ESTE</button>
      </div>
      <br>
      <hr>
      <br>
      <div class="card text-center prompt">
        <h1 class="promptText">❝ {{ answerActivities[index+5] }} ❞</h1>
        <hr class="promtsHr">
        <p class="promptAuthor">- {{ answerActivities[index+4] }}</p>
      </div>
      <div class="container votationHolder" style="display: flex;">
        <button type="button" (click)="scorePoint(answerActivities[index+4])">ESTE</button>
      </div>
    </div>
  </div>
</div>
<H1 *ngIf="winnerCheck">EL GANADOR ES: {{winner}}</H1>